<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- style.css 연결, Flask의 url_for를 사용해 정확한 경로를 자동 생성 -->
</head>
<body> <!-- 브라우저 구역 나누기 -->
    <div class="main-container"> <!-- 전체를 감싸는 큰 컨테이너 -->
        <section class="turtle-section"> <!-- 상단 : 거북이와 프로그레스 바 구역 -->
            <h2>거북이 경로</h2>
        </section>
        <section class="checklist-section"> <!-- 하단 : 체크리스트 구역 -->
            <h2>체크리스트</h2>
            <form action="/update_todo" method="POST" class="todo-form"> <!-- 데이터들을 update_todo라는 주소로 보내기 -->
                <div class="todo-item"> 
                    <input type="checkbox" name="is_done" value="done"> <!-- 체크 박스 만들기 -->
                    <input type="text" name="todo_content" placeholder="오늘 할 일을 입력하세요!"><!-- 글박스 만들기 -->
                    <button type="submit">저장</button> <!-- 저장 버튼 만들기 -->
                </div>
            </form>
        </section>
    </div>
</body>